html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  padding-top: .5vh; /* Adjust this value as needed to lower the container */
  background-color: rgba(248, 249, 209, 1); /* Set background color */
  font-size: 16px;
  width: 100vw;
  height: 100vh;
}

.header-text{
  font-family:ZCOOL kuaiLe;
  color: rgba(97, 134, 4, 1);
  font-size: 3.25vw;
  -webkit-text-stroke: 1px rgba(89, 34, 2, 1);
  text-align: center;
  
}

h1{
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.container {
    margin-bottom: auto; /* Push the container down to the center of the window */
    border-style: solid;
    background-color: rgba(202, 203, 164, 0.5); /* Set container background color */
    padding: 30px; /* Increase padding for better visibility */
    border-radius: 15px; /* Add border-radius for rounded corners */

    border-color: rgb(89, 34, 2);
    border-width: 4px;

}

.button-box{
  margin-top: 2vw;
  text-align: center;
}

.btn-primary{
  
  background-color: rgba(97, 134, 4, 1);
  color: rgba(254, 255, 0, 1);
  border-style: solid;
  border-width: 4px;
  border-color: rgba(89, 34, 2, 1);

  padding: 0.25rem 3rem;
  font-size: 2.75rem;
  border-radius: 1.3rem;;

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: rgba(254, 255, 0, 1);
  background-color: rgba(120, 160, 20, 1);
  border-color: #43409d; /*set the color you want here*/
}

.appbox{
  margin-bottom: auto; /* Push the container down to the center of the window */
  border-style: solid;
  background-color: rgba(248, 249, 209, 1); /* Set container background color */
  padding: 15px; /* Increase padding for better visibility */
  border-radius: 15px; /* Add border-radius for rounded corners */
  box-shadow: -8px 10px 10px 5px rgb(0, 0, 0.1); /* Add shadow for depth */
  border-color: rgb(89, 34, 2);
  border-width: 4px;
}

.zcool-kuaile-regular {
    font-family: "ZCOOL KuaiLe", sans-serif;
    font-style:normal;
}

.gruppo-regular {
    font-family: "Gruppo", sans-serif;
    font-style: normal;
}

.formbox{

  text-align: left;

  background-color: rgba(202, 203, 164, 1);
  background-clip: padding-box;

  border-style: solid;
  border-width: 3px;
  border-radius: 35px;
  border-color: rgba(89, 34, 2, 1);

  padding: 64px;
  margin: 16px;
}

#pheader {
  font-family:ZCOOL kuaiLe;
  color: rgba(97, 134, 4, 1);
  font-size: 5vw;
  text-shadow: 
  -2px -2px 0 rgba(89, 34, 2, 1),  
   2px -2px 0 rgba(89, 34, 2, 1),
  -2px  2px 0 rgba(89, 34, 2, 1),
   2px  2px 0 rgba(89, 34, 2, 1);
}

.emph{
  font-family:ZCOOL kuaiLe;
}

#savannahstyle{
  font-size: 1.45rem;
  color:rgba(75, 31, 6, 1);
  
}

#foreststyle{
  font-size: 1.45rem;
  color:rgba(42, 55, 10, 1);
}

#tipstyle{
  font-size: 1.25vw;
  color:rgba(254, 255, 0, 1);
  -webkit-text-stroke: 1px rgba(89, 34, 2, 1);
}

.introp {
  font-size: 1.50rem;
}

ul {
  list-style-type: none;
}